on:
  pull_request:

permissions:
  pull-requests: write
  contents: write

concurrency:
  group: preview-pages-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Preview Pages
        uses: rajyan/preview-pages@v1
        with:
          target-dir: preview
          configured-domain: scienceolympianz.org.nz
          source-dir: .
          pr-comment: sticky
          target-branch: main
